<html ng-app="appOne">

<head>
    <title>App1-Basic</title>
</head>

<body ng-controller="mainCtrl">
    <h1>{{test}}</h1>

    <div>
        <input type="text" name="" value="Enter words here" ng-model="inputTaken">
    </div>
    <p>{{inputTaken }}
    </p>

    <div>
        <ul>
            <li ng-repeat="city in cities"> {{city}}</li>
        </ul>
    </div>




    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="controller.js"></script>
    <script src="service.js"></script>
</body>

</html>